body{
    margin:0;
    background-color:#009688;
    font-family: sans-serif;
}
*{
    box-sizing: border-box;
}

.quiz-container{
    max-width: 700px;
    min-height:500px;
    background-color: #ffffff;
    margin:30px auto;

    border-radius:10px;
    padding:30px;
}
.question-number,
.question,
.options,
.button,
.answers-tracker{

}
.question-number h3{
    color: #009688;
    border-bottom: 1px solid #ccc;
    margin:0;
    padding-bottom:10px;
}

.question {
    font-size:22px;
    color:000000;
    padding:15px 0;
}

.options div{
    background-color: #cccccc;
    font-size:16px;
    color:000000;
    margin-bottom:10px;
    border-radius:5px;
    padding:15px;
    position: relative;
}

.options div.correct{
    
}
.options div.wrong{

}